@model AmgSistemas.ControleFinanceiro.Models.Registro
@{
    Layout = null;
}
@using (Html.BeginForm("PagarItem", "RegistroFinanceiro", FormMethod.Post, Model))
{
    @Html.HiddenFor(model => model.Identificador)
    @Html.HiddenFor(model => model.IdentificadorTipoRegistro)
    @Html.HiddenFor(model => model.Pago)
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Quitar Registro Financeiro</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    @if (!Model.Pago)
                    {
                        <label>Deseja alterar o registro para NÃO QUITADO?</label>
                    }
                    else
                    {
                        <label>Deseja alterar o registro para QUITADO?</label>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                <input type="submit" class="btn btn-success" value="Alterar">
            </div>
        </div>
    </div>
}
