@model AmgSistemas.ControleFinanceiro.Models.RelatoriCategoria
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutGrid.cshtml";
}
<fieldset style="margin-top:15px">
    <legend>Relatório Por Categoria</legend>


    <div class="container">
        @Html.Partial("Buscar", new AmgSistemas.ControleFinanceiro.Models.BuscaRegistros() { id = ViewBag.Tipo, Ano = DateTime.Now.Year, Mes = DateTime.Now.Month })
    </div>
    <br />
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Relatório Por <b>Categoria</b></h2>
                </div>
            </div>
        </div>
        <table id="objTabela" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th style="width:75%">Categoria</th>
                    <th style="width:25%; text-align: center">Valor Gasto</th>
                </tr>
            </thead>
            <tbody>
               
                @if (Model.Registros != null && Model.Registros.Count() > 0)
                {
                    foreach (var item in Model.Registros)
                    {
                        <tr>
                            <td style="width:75%">@(item.Categoria)</td>
                            <td style="width:25%; text-align: center; color:red"><b>@("R$ " + item.Valor.ToString("N2"))</b></td>                            
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</fieldset>
@section js
{
    <script>

        $(document).ready(function () {
            $('#objTabela').DataTable(
                {
                    "order": [0, 'asc']
                });
        });
    </script>
}

